{% extends "band_scheduler/base.html" %}

{% block head %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'band_scheduler/index_auth.css' %}">
<title>Coachella 2014 Band List</title>
{% endblock %}

{% block content %}
{% if bands %}
    <h1>All Bands</h1>
    <form action="{% url 'bands:createSchedule' %}" method="post">
        {% csrf_token %}
        {% for band_list in bands %}
            <div class="day">
                <div class="day-heading">
                    <h3>Day {{ forloop.counter }}</h3>
                </div>
                <ul>
                {% for band in band_list %}
                    <li class="band">
                        <label for="{{ band.id }}_checkbox">{{ band.name }}</label>
                        {% if band in user_bands %}
                            <input id="{{band.id}}_checkbox" name="bands" type="checkbox" value="{{band.id}}" checked />
                        {% else %}
                            <input id="{{band.id}}_checkbox" name="bands" type="checkbox" value="{{band.id}}" />
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>
            </div>
        {% endfor %}
        <div class="submit-wrapper">
            <input type="submit" value="Save Schedule" />
        </div>
    </form>
{% else %}
    <p>No bands available :(</p>
{% endif %}
{% endblock %}