{% extends "band_scheduler/base.html" %}

{% block head %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'band_scheduler/index.css' %}">
<title>Schedule</title>
{% endblock %}

{% block content %}
{% if bands %}
    <h1>{{ username }}'s Schedule</h1>
    <a href="{% url 'bands:compareSchedules' %}?schedules={{ username }}">Compare schedules</a><br />
    {% for band_list in bands %}
        <div class="day">
            <div class="day-heading">
                <h3>Day {{ forloop.counter }}</h3>
            </div>
            <ul>
            {% for band in band_list %}
                <li class="band">
                    {{ band.name }}
                </li>
            {% endfor %}
            </ul>
        </div>
    {% endfor %}
{% else %}
    <h1>Oops!</h1>
    <div>
        Schedule for user {{ username }} not found.
    </div>
{% endif %}
{% endblock %}