{% extends "band_scheduler/base.html" %}

{% block head %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'band_scheduler/index.css' %}">
<title>Schedule</title>
{% endblock %}

{% block content %}
<h1>My Schedule</h1>
{% if bands %}
    {% for band_list in bands %}
        <div class="day">
            <div class="day-heading">
                <h3>Day {{ forloop.counter }}</h3>
            </div>
            <ul>
            {% for band in band_list %}
                <li class="band">
                    {{ band.name }}
                </li>
            {% endfor %}
            </ul>
        </div>
    {% endfor %}
{% else %}
    Schedule for {{ username }} not found.
{% endif %}
{% endblock %}